<div class="sidebarItem horizontalFlex">

    <button id = "sidebarButton" class="invisibleFill horizontalFlex" title="<%= title %>" style="align-items: center;column-gap: 30px" data-link="<%= link %>">
        <img src="<%= image %>" alt="<%= alt %>">
        <p class="text">
            <%= title %>
        </p>


    </button>


</div>