<div class="sidebarItem horizontalFlex">
    <a href="<%= link %>">
        <button id="sidebarButton" class="invisibleFill horizontalFlex" title="<%= title %>"
            style="align-items: center;column-gap: 30px">
            <img src="<%= image %>" alt="<%= alt %>" class="icon">
            <p class="text">
                <%= title %>
            </p>

        </button>
    </a>
</div>