<div style="aspect-ratio:3/2;width:25%;border-radius: 8px;background-color: #111111; padding:6px">
    <button class="invisibleFill rounded" id="videoButton" data-id=<%= videoId %>  >
        <img class="thumbnail" src="<%= thumbnail %>"> 
        <p class="videoCardTitle"> <span class="channelTitle" style="color: <%= channelColor %>"> <%= channelName %> </span>: <span id="videoTitle"> <%= title %> </span></p>
        <p class="lowText"> <%= views %> Visualizações </p>
    </button>
</div>