<div class="videoCardContainer top5pxPadding">
    <button class="invisible rounded" id="videoButton" data-id=<%=videoId %> >
        <img class="thumbnail" src="<%= thumbnail %>">
        <p class="videoCardTitle"> 
            <a href="/channel/<%= channelName %>"> 
            <span class="channelTitle" style="color: <%= channelColor %>"> <%= channelName %> </span>
            </a>:
            <span id="videoTitle"><%= title %> </span>
        </p>
        <p class="lowText">
            <%= views %> Visualizações
        </p>
    </button>
</div>