<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/texting.css' />
    <link rel='stylesheet' href='/stylesheets/videoing.css' />
    <link rel='stylesheet' href='/stylesheets/common.css'>
    <link rel='stylesheet' href='/stylesheets/containers.css'>
    <link rel='stylesheet' href='/stylesheets/positioning.css'>
  </head>
  <body class="zeroPadding">
    <%- include('./partials/sidebar') %>
    <p class="textCentered highText" style="color: <%= color %>"> <%= name %> </p>
    <div class="videoCardContainer"> 
    
      <% for(var i=0; i<videoCardInfos.length; i++) {%>

            <%- include('./partials/videocard', videoCardInfos[i]) %>

        <% } %>
    
    </div>
    <p class= "textCentered highText"> Esse foi o canal da <span style="color: <%= color %>"> <%= name %> </span> </p>
  </body>
</html>
