<!DOCTYPE html>
<html>

<head>
  <title>Theater</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/texting.css' />
  <link rel='stylesheet' href='/stylesheets/videoing.css' />
  <link rel='stylesheet' href='/stylesheets/inputs.css' />
  <script src="/javascripts/stage.js">  </script>
</head>

<body>

  <div style="display: flex; flex-direction: row;justify-content: space-around;">

    <video class="video" src="<%= videoURL %>" controls> </video>

    <div style="background-color: #444444; border-radius: 8px;width:25%">
      <p class="highishText" ; style="padding-left: 10px;text-align: left;">
        <%= video.title %>
      </p>
      <p class="mediumText textPadding"> Por: <span style="color:<%= channel.color %>">
          <%= channel.name %>
        </span> </p>

      <p class="lowText textPadding">
        <%= video.views %> visualizações
      </p>

      <div style="display: flex;flex-direction: row; justify-content: center;column-gap: 5%;">

        <div>
          <button class="reactionButtonOff" id="like" title="Eu gostei desse vídeo!">
            <img alt="❤️">
          </button>
          <p class="textCentered mediumText"> 0 </p>

        </div>

        <div>
          <button class="reactionButtonOff" id="please" title="Eu quero que outras pessoas vejam esse vídeo!">
            <img alt="📣">
          </button>
          <p class="textCentered mediumText"> 0 </p>

        </div>

        <div>
          <button class="reactionButtonOff" id="dislike" title="Não gostei desse vídeo!">
            <img alt="💔">
          </button>
          <p class="textCentered  mediumText"> 0 </p>
        </div>

      </div>

      <div>
        <% for(var i=0; i<tags.length; i++) {%>

            <%- include('./partials/tagCard', {name: tags[i].name, color: tags[i].color}) %>

        <% } %>
        
      </div>

      <p class="mediumText textPadding textCentered" style="margin-top: 10%;"> Descrição do vídeo: </p>

      <div class="videoDescriptionContainer textPadding">
        <p class="limitedText text textVerticalPadding">
          <%= video.description %>
        </p>

      </div>

    </div>

  </div>

  <button class="returnButton textCentered"> Ver mais vídeos </button>

</body>

</html>