<!DOCTYPE html>
<html>

<head>
  <title>Theater</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/texting.css' />
  <link rel='stylesheet' href='/stylesheets/videoing.css' />
  <link rel='stylesheet' href='/stylesheets/inputs.css' />
  <link rel='stylesheet' href='/stylesheets/sizing.css' />
  <link rel='stylesheet' href='/stylesheets/positioning.css' />
  <link rel='stylesheet' href='/stylesheets/imaging.css' />
  <link rel='stylesheet' href='/stylesheets/containers.css' />

  <script src="/javascripts/stage.js">  </script>
</head>

<body class="staticBody">

  <div class="horizontalFlex">
    <%- include('./partials/sidebar') %>
      <main class="main">
        <div class="top5pxPadding" style="display: flex; flex-direction: row;justify-content: space-around;">

          <video class="video" src="<%= videoURL %>" data-id="<%= video.id %>" controls> </video>

          <div style="background-color: #444444; border-radius: 8px;width:25%">
            <p class="highishText" ; style="padding-left: 10px;text-align: left;">
              <%= video.title %>
            </p>
            <p class="mediumText textPadding"> Por: <span style="color:<%= channel.color %>">
                <%= channel.name %>
              </span> </p>

            <p class="lowText textPadding">
              <%= video.views %> visualizações
            </p>

            <div class="inputBox halfWidth hcenter horizontalFlex">
              <% tags.forEach(function(tag) { %>

                <button class="enabledTagButton" style="background-color: <%= tag.color %>">
                  <%=tag.name%>
                </button>

                <% }); %>

            </div>

            <p class="mediumText textPadding textCentered" style="margin-top: 10%;"> Descrição do vídeo: </p>

            <div class="videoDescriptionContainer textPadding">
              <p class="limitedText text textVerticalPadding">
                <%= video.description %>
              </p>

            </div>

          </div>

        </div>
      </main>
  </div>

</body>

</html>